
.imgnormal {
    width: 150px;
    height: auto;
    margin: 20px;
    border-radius: 20%;
}

.imgc {
    height: 150px;
    border-radius: 20%;
}

.img100 {
    display: block;
    margin: auto;
    width: 80%;

}

.padd div {
    padding: 30px;
    margin: 30px 30px 30px 30px;
    border: solid rgb(170, 24, 24);
}

.paddi div {
    padding: 30px;
    margin: 20px 20px 20px 20px;
    border: solid rgb(55, 42, 173);
}

.bordeee {
    border: solid rgb(55, 42, 173);  
}