//variables logo
$ancho-logo: 150px;
$margen-logo: 20px;
$borde-logo: 20%;
$color-bordelo: solid rebeccapurple 5px;

//caracteristicas titulo

$color-titulo:brown;
$colorborde-titulo:solid rgba(112, 80, 102, 0.473);
$colorfondo-titulo:rgb(220, 239, 240);
$tamaño-titulo:3rem;

//tipografia
$letra-poors: 'Poor Story', cursive;
$negrilla: bold;
$letra-arial: Arial, Helvetica, sans-serif ;

//colores fondo
$color-encabezado:rgb(176, 211, 199);




